@-moz-viewport { width: device-width; scale: 1; } 
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; } 
@-webkit-viewport { width: device-width; scale: 1; } 
@viewport { width: device-width; scale: 1; } 

html {
    box-sizing:border-box;
    -moz-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    font-family: 'Signika', sans-serif;
    background-color: grey; 
    background-image: url(../images/picture.jpg); /* thats going to fine the image and put it into the html element */
    background-size: ;
    background-position: right top; 
}

body {
    margin: 0; 
    margin-right: 5%;
    background-color: white; 
    min-height: 100vh; 
    padding-top: 2em;
}

.name-i {
    display: inline-block; 
    margin-left: .02em; 
}

h1 { 
    margin: 0;
    font-size: 3.5rem;
    line-height: 20px;
    padding-left: 2rem;
}

h2 { 
    font-size: 1rem; 
    font-weight: bold;
    padding-left: 2rem;
}

p {
    padding-left: 2rem;
}

img {
    width:100%;
}

footer {
    padding-bottom: 2rem;
}

.soc {
    overflow:hidden;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}

.soc-rss {
    background-color: #f26109;
}
.soc-rss:before {
    content:',';
}

/* media querries */  
@media only screen and (min-width: 25em) {

    
}

@media only screen and (min-width: 35em) {
    body {
        margin-right: 20%;
    }
    img { 
        width: 70%;  
    }
    html {
        font-size: 120%;
        line-height: 1.5;
    }
    .textandicons { 
        align-content: right;
        padding-left: 10em;
        padding-right: 1em;
    }     
}

@media only screen and (min-width: 60em) {
    body {
        margin-right: 40%;
    }
    .textandicons {
        align-content: right;
        padding-left: 14em;
        padding-right: 1em;
}
