@-moz-viewport { width: device-width; scale: 1; } 
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; } 
@-webkit-viewport { width: device-width; scale: 1; } 
@viewport { width: device-width; scale: 1; } 

html {
    box-sizing:border-box;
    -moz-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    font-family: 'Signika', sans-serif;
    background-color: grey; 
    background-image: url(../assets/drawing.jpg); /* thats going to fine the image and put it into the html element */
    background-size: 20%;
    background-position: right center; 
    background-repeat: ;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    margin: 0; 
    margin-right: 5%;
    background-color: white; 
    min-height: 100vh; 
}

.name-r {
    letter-spacing: .05em;
}

header {
    background-color: #ebe5f1;
    height: 6em;
    padding-top: 2em;
}

h1 { 
    margin: 0;
    font-size: 3rem;
    line-height: 20px;
    padding-left: 2rem;
    color: #31274a;
}

h2 { 
    font-size: 1.2rem; 
    font-weight: bold;
    padding-left: 2rem;
    color: #6a1d15;
}


p {
    padding-left: 2rem;
    padding-right: .5em;

}

img {
    width:100%;
}

footer {
    padding-bottom: 1em;
    padding-top: 1em; 
    background-color: #ebe5f1;
}

.social {
    font-size: 1.2rem;
    color: #6a1d15;
    
}
.soc {
    list-style-type: none;
}

.soc li { 
    height: 3em; 
    display: inline-block;
     margin-right: 5%;
    
}
.soc-instagram, .soc-facebook, .soc-google {
    display: block;
    background-image: url(../assets/instagram.png);
    background-size: contain;
    background-repeat: no-repeat; 
    width: 4em; 
    height: 4em;
   
}

.soc-facebook { 
    background-image: url(../assets/facebook.png);
}

.soc-google { 
    background-image: url(../assets/googleplus.png);
} 

/* media querries */  
@media only screen and (min-width: 25em) {

    
}

@media only screen and (min-width: 35em) {
    body {
        margin-right: 20%;
    }
    img { 
        width: 70%;  
    }
    html {
        font-size: 120%;
        line-height: 1.5;
    }
    .textandicons { 
        align-content: right;
        padding-left: 10em;
        padding-right: 1em;
    }     
}

@media only screen and (min-width: 60em) {
    html { 
        background-size: 40%;
        
    }
    
    body {
        margin-right: 40%;
    }
    .textandicons {
        align-content: right;
        padding-left: 14em;
        padding-right: 1em;
    }
}
